[Desktop Entry]
Encoding=UTF-8
Name=Link to blob:https://developer.android.com/54ca4a5c-008c-44aa-9ff4-2437491f96a7
Type=Link
URL=blob:https://developer.android.com/54ca4a5c-008c-44aa-9ff4-2437491f96a7
Icon=text-html
